
body{
	margin: 0;
	padding: 0;
}

.slider{
	display: flex;
	width: 370px;
	height: 440px;
	position: relative;
	left: 55px;
	top: -14px;
	box-shadow: 0 0 20px ;

}
.slider img{
	height: 100%;
	width: 100%;
}


.slider-container{
	display: flex;
	flex-direction: column;
	background: #eeeff1;
	position: relative;

	width: 480px;
	height: 412px;

}

.buttons{
	cursor: pointer;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 40px;



}
.button.active{
	background: #71f6eb;
}
.buttons>div{
	width: 10px;
	height:10px;
	border: none;
	background: #d0d0d0;
	border-radius: 40%;
	margin-right: 5px;
}

.img.active{
	display: block;
}
.img{
	display: none;
}

@media screen and (max-width: 1023px) {
	.slider-container{
		display: none;
	}
	.about-us-title h3{
		margin-bottom: 50px;
	}
	.about-us-text h5{
		text-align: center;
	}
}